.cards{
    display: grid;
    
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1300px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1600px) {
        grid-template-columns: repeat(5, 1fr);
    }

    margin: 50px;
    grid-gap: 40px;
    
    
    color: white;
}

.card{
    border-radius: 20px;
    background-color: white;
    font-family: 'Carter One', cursive;
    width: 320px;
    height: auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    img{
        width: 100%;
        object-fit: contain;
        border: 2px inset black;
        height: 300px;
        display: block;
        border-radius: 20px 20px 0 0;
    }
    
}

.details{
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    h3{
        color: black;
        font-weight: 600;
        font-size: 24px;
        margin: 0px 10px 5px 0px;
    }
    p{
        color: black;
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 5px;
        font-family: 'Carter One', cursive
    }
    .addToCart{
        width: 100%;
        color: white;
        border: none;
        font-weight: bolder;
        cursor: pointer;
        border-radius: 10px;
        height: 30px;
        font-size: 16px;
        background-color: #e587a7;
        border: 1px inset black;
        transition: all 250ms ease 0s;
    }
    .addToCart:hover{
        background-color: #ab647c;
    }
}
 