@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0px 10%;
  border: 1px solid #997e60;
  background-color: #FE95B3;
}
header a, header li {
  font-family: "Carter One", cursive;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.logo-tienda {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo-tienda img {
  height: 70px;
  margin-right: 15px;
}
.logo-tienda h2 {
  font-family: "Carter One", cursive;
  transition: all 250ms ease 0s;
}
.logo-tienda h2:hover {
  color: white;
  transform: scale(1.1);
}

.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 250ms ease 0s;
}
.nav-links li a:hover {
  color: white;
}

.cards {
  display: grid;
  margin: 50px;
  grid-gap: 40px;
  color: white;
}
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1300px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1600px) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  border-radius: 20px;
  background-color: white;
  font-family: "Carter One", cursive;
  width: 320px;
  height: auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}
.card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border: 2px inset black;
  height: 300px;
  display: block;
  border-radius: 20px 20px 0 0;
}

.details {
  padding: 10px;
  border-radius: 0px 0px 15px 15px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
.details h3 {
  color: black;
  font-weight: 600;
  font-size: 24px;
  margin: 0px 10px 5px 0px;
}
.details p {
  color: black;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 5px;
  font-family: "Carter One", cursive;
}
.details .addToCart {
  width: 100%;
  color: white;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 10px;
  height: 30px;
  font-size: 16px;
  background-color: #e587a7;
  border: 1px inset black;
  transition: all 250ms ease 0s;
}
.details .addToCart:hover {
  background-color: #ab647c;
}

.content {
  height: 800px;
}
.content .info {
  position: relative;
  left: 10%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 300px;
  width: 900px;
  background-color: #ed909b;
  border: 8px solid #997e60;
  border-radius: 50px;
  color: white;
  padding: 50px;
}
.content .info h1 {
  width: 100%;
  font-family: "Carter One", cursive;
  font-weight: 500;
  font-size: xx-large;
}
.content .info p {
  font-family: "Carter One", cursive;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  margin: 15px;
}
.content .info a {
  border-radius: 20px;
  color: black;
  box-shadow: 2px 2px 10px 0px black;
  background-color: whitesmoke;
  padding: 12px;
  font-weight: bolder;
  text-decoration: none;
  transition: all 250ms ease 0s;
  margin-top: 20px;
  margin-left: 20px;
}
.content .info a:hover {
  background-color: #997e60;
  color: whitesmoke;
}
.content img {
  position: fixed;
  height: 600px;
  width: 650px;
  left: 65%;
  top: 40%;
}

.botonesLandingPage {
  margin: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background: #c7a47c;
  background-image: radial-gradient(#997e60 1px, transparent 1px);
  background-size: 10px 10px;
}/*# sourceMappingURL=main.css.map */